@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700';
* { box-sizing: border-box; }
html { font-size: 100%; }
body {background-color: #F0F0F0;
  	font: 100%/1.4 'Inconsolata', monospace; }



.logocontainer {
 display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
 
 display: flex;
 justify-content: center;
}

.header {
	display: flex;
	color: black ;
	font-family: Century gothic, CenturyGothic, AppleGothic,sans-serif;
	font-size: 30px;
	justify-content: center;
	letter-spacing: 15px;}

/* NAV BAR */

.flex-container {
	display: flex;
	margin:0 auto;
	justify-content: space-around;
	background-color: #e5ffe5;

    -webkit-flex-direction: column;
	flex-direction: column;
}


.flex-container h2 {
	height: 51px;
	font-weight: 300;
	letter-spacing:.3px;
	font-size: 20px
	color:black;
	display: flex;
    font-family: Century gothic, CenturyGothic, AppleGothic,sans-serif;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.flex-container ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 5;
	
	-webkit-flex-direction: column;
	flex-direction: column;
	}

.flex-container ul li a{
	padding: 10px;
	color: #009598;
	text-decoration: none;
	
}

@media all and (max-width: 630px) {
 .flex-container, 
 .flex-container ul {
    flex-direction: column;}}

 @media all and (min-width: 630px) {
 .flex-container, 
 .flex-container ul {
    flex-direction: row;
    text-align: center;}}

@media all and (min-width: 550px) {
.header {flex-wrap: wrap;}


a:hover:not(.active) {background-color: white}
.active {background-color: #4caf50;}



h2 {text-align: center;}

h3 {text-align: center;}

p {text-align: center;}

/* DREXEL. No colors when in mobile */

.container-paperone {
	max-width: 750px;
	background-color: #EAF1FB;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;}

.container-papertwo {
	max-width: 750px;
	background-color: #EFEDFC;
	margin: 30px auto;
	padding: 20px 20px 20px 20px;}

.container-paperthree {
	max-width: 750px;
	background-color: #DBF0F7;
	margin: 30px auto;
	padding: 20px 20px 20px 20px;}

/* DEFAULT */

.wrapper-image {
    float: left; 
    margin: 20px 20px 20px 20px;}

.wrapper-aboutme {
	float: right;
	max-width: 500px;
	margin: 20px 20px 20px 20px;}

.wrapper-about {
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-flex-direction: column;
	flex-direction: column;
}

@media screen and (max-width: 900px){
	.wrapper-about {
    -webkit-flex-direction: column;
    flex-direction: column;}}

 @media screen and (min-width: 900px) {
 	.wrapper-about  {
 	-webkit-flex-direction: row;
    flex-direction: row;}
 }

.resume-container {
	width: 820px;
	margin-top: 30px;
	margin-left: auto ;
	margin-right: auto ;
	display: flex;
}

@media screen and (min-width: 800px) {
	.resume-container {flex-shrink: }
}

/*CONTACTS */

.contacts {box-align: center;}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    background: #007bb5;
    color: white;
	display: -webkit-box;
 	display: -moz-box;
  	display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;}



.portfoliolist {
	color: #4d4d4d;
	font-family: 'Inconsolata', monospace; 
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	display: flex;}



.projects .row .col {
  	display: flex;
  	float: left;
  	margin: 20px 20px 20px 20px;

 	-webkit-flex-direction: column;
	flex-direction: column;}

@media screen and (max-width: 700px){
	.projects .row .col {
    -webkit-flex-direction: column;
    flex-direction: column;}}

 @media screen and (min-width: 700px) {
 	.projects .row .col  {
 	-webkit-flex-direction: row;
    flex-direction: row;}}

.projects .row .col img {filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: none;
  filter: none;}

.projects .row .col:hover img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;}

.projects figcaption {
 	color: #444;
  	font-size: 1.5rem;
  	padding: .5rem 0;
  	text-align: center;}

/* IDM*/
.wrapper-idm {
	max-width: 750px;
	color: #71143D;
	margin: 0 auto;}
.wrapper-idm img {
	display: block;
	margin-left: auto;
	margin-right: auto;}

/* COOP */

.container-description {
	max-width: 750px;
	color: #71143D;
	margin: 40px auto 75px auto;
}


.container-articles {
	 max-width: 750px;
	 margin: 0 auto;
}

/* RESUME */
.container-resume h3 {
	text-align: left;
}
.container-resume p {
	text-align: left;
}
.upper {
	color: #71143D; 
}
/*.wrapper-dragon {
    float: left; 
    margin: 20px 20px 20px 20px;}

.wrapper-goat {
	
	float: right;
	margin: 20px 20px 20px 20px;}

.wrapper-goat .wrapper-dragon img {filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: none;
  filter: none;}

.container-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-flex-direction: column;
	flex-direction: column;}

.wrapper-goat .wrapper-dragon:hover img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;}
 

  .container-porfolio figcaption {
 	color: #444;
  	font-size: 1.5rem;
  	padding: .5rem 0;
  	text-align: center;}

  @media screen and (max-width: 900px){
	.flex-portfolio {
    -webkit-flex-direction: column;
    flex-direction: column;}}

 @media screen and (min-width: 900px) {
 	.flex-portfolio  {
 	-webkit-flex-direction: row;
    flex-direction: row;}
 } */



