@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700';
* { box-sizing: border-box; }
html { font-size: 100%; }
body {
  background-color: #F0F0F0;
  font: 100%/1.4 'Inconsolata', monospace; 
}

header {
  background-color: #B0E2D2;
  color: black;
  font-size: 156.25%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 165%;
  padding: 1rem;
}

h1 {text-align: center;}

h2 {color: #4d4d4d;
  font-size: 181.25%;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 127.5%;
}

h3 {color: #4d4d4d;
  font-size: 125%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 96.25%;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  } 

p {font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
  font-size: 50%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 96.25%;}

li {font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
  font-size: 85%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 96.25%;}

  .container {
  color: black;
  text-align: center;
  font-family: 'Inconsolata', monospace; 
  font-size: 218.75%;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 165%;}


 .contacts {
  color: #4d4d4d;
  text-align: center;
  font-family: 'Inconsolata', monospace; 
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 165%;}

.portfoliolist {
  color: #4d4d4d;
  font-family: 'Inconsolata', monospace; 
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 125%;}


.projects .row.col {overflow: auto;}

.projects .row .col {
    float: left;
    width: 33.3%;
  width: calc(100%/3);}


.projects .row .col:hover img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;}

.projects figcaption {
  color: #444;
    font-size: 1.5rem;
    padding: .5rem 0;
    text-align: center;}

@media (min-width: 37.5rem) {
  .projects .row .col {resize: both;}
 
}


@media (min-width: 56.25rem) {
  body {
    background-color: #F0F0F0;
  }

  header {
    background-color: #F0F0F0;
  }
}